Chameleon==2.11
Jinja2==2.6
Mako==0.8.0
MarkupSafe==0.15
PasteDeploy==1.5.0
Pygments==1.6
SQLAlchemy==0.8.0
WebOb==1.2.3
-e git+repo_ec2:~/proto_gif.git@4d0c03f6d34bd7038aa894d0901481f1c1720948#egg=gif_to_video-dev
pyramid==1.4
pyramid-debugtoolbar==1.0.6
pyramid-jinja2==1.6
pyramid-tm==0.7
repoze.lru==0.6
transaction==1.4.1
translationstring==1.1
venusian==1.0a8
waitress==0.8.2
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
zope.sqlalchemy==0.7.2
