
.border {
    border: 2px solid #dddddd;
	padding:1%;
}

.adjacent-table-cell {
    margin-right:-0.2%;
	margin-left:0px;
	margin-bottom:-2px;
}

.subset-hover {
	background-color:black;
}

.subset-active {
	background-color:black
}

.target-hover {
	background-color:blue;
}

.target-active {
	background-color:blue;
}

a:hover {
    text-decoration:none;
}
