{% extends "layout.jinja2" %}


{% block content %}

		<ul class="span10 nav nav-pills" style="height:40px;">
				<li class="active choose-target">
						<a class="lead" href="#">Choose a target</a>
				</li>

				<li class="choose-subset">
						<a href="#" class="lead">Choose a subset</a>
				</li>

				<div class="pull-right">

						<div class="btn btn-danger clear" style="margin-top:2px">Clear All</div>
						<div class="btn btn-primary disabled convert">
								Convert
						</div>

				</div>

		</ul>
		<div class="span10 message" 
							style="font-size:18px; height:50px; text-align:center">
				
		</div>

		<div class="row">		
				<div class="span12 frame-roll" data-frame_count={{ frame_count|length }} >
						
						{% for i in frame_count %}
								
								<div class="span2 border adjacent-table-cell">
										<a href="#" class="frame" data-frame={{ i }} 
												data-basename={{ asset_name }}>
												<img src=/{{ frame_path }}/{{ asset_name }}_{{ i }}.png />
										</a>
								</div>

						{% endfor %}
				</div>
		</div>		

		<div class="span10" style="margin-left:0px;">

		</div>

{% endblock content %}
