<html>
		<head>
				<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />


				<title>!#TEST#!</title>
		</head>

		<body>

				<div class="container">
						{# <h1>GIF to AR </h1> #}
						<h1> PROTOTYPE PROJECT #1 </h1>
						<div class="lead">
								{# Convert a GIF image into augmented reality assets #}
								BYOB
						</div>

						{% block content %}
						{% endblock content %}

				</div>

		</body>

</html>
